#cabeca{
    height: 60px;
    width: 100%;
    background-color: rgb(50, 54, 57);
    display: flex;
    position: fixed;
}
#menu{
    font-size: 20px;
    font-weight: 16px;
    color: white;
    margin-top: 18px;
    margin-left: 20px;
}
#souza{
    margin-top: 16px;
    margin-left: 20px;
    color: white;
}
#linda{
    color: white;
    background-color: black;
    width: 20px;
    height: 23px;
    margin-top: 18px;
    margin-left: 300px;
}
#um{
    color: white;
    width: 15px;
    height: 14px;
    margin-top: 20px;
}
#inter{
    margin-top: 18px;
    margin-left: 20px;
    color: gray;
}
#dois{
    font-size: 20px;
    font-weight: 50px;
    color: white;
    margin-top: 7px;
    margin-left: 10px;
}
#uvas{
    font-size: 20px;
    height: 23px;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 18px;
    margin-left: 13px; 
}
#boca{
    font-size: 20px;
    font-weight: 100px;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    
}
#gremio{
    margin-top: 17px;
    margin-left: 10px;
    color: gray;
}
#folder{
    font-size: 15px;
    color: white;
    margin-top: 23px;
    margin-left: 15px;
}
#carros{
    font-size: 15px;
    color: white;
    margin-top: 24px;
    margin-left: 17px;
}
#dow{
    color: white;
    margin-left: 300px;
    font-size: 15;
    margin-top: 19px;

}
#fafa{
    color: white;
    font-size: 15px;
    margin-top: 21px;
    margin-left: 20px;
}
#life{
    color: white;
    font-size: 15px;
    margin-top: 21px;
    margin-left: 20px;
}