article{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 100%;
    background-color: #525659;
    padding-top: 60px;
}
#p1{
    background-color: #7030a0;
    height: 1750px;
    width: 94%;
    margin-left: 3%;
    box-shadow: 0px 0px 7px black;
    color: white;
    padding-top: 130px;
    text-align: center;
    margin-top: 5px;
}

#p1 h1{
    font-size: 36px;
    line-height: 68px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 153px;
}

#p1 h1 b span{
    font-size: 40px;
}

#p1 h2{
    width: 100%;
    padding-right: 7.8%;
    font-size: 31px;
    margin-top: 38px;
}

#p1 h3{
    margin-top: 13px;
    width: 100%;
    padding-right: 7.8%;
    font-size: 26px;
}

#p1 h4{
    margin-top: 9px;
    width: 100%;
    padding-right: 7.8%;
    font-size: 19px;
    font-weight: 400;
}

#p1 h4 span{
    font-weight: 500;
    font-size: 21px;
}

#p1 h5{
    padding-left: 8%;
    margin-top: 125px;
    font-size: 23px;
    width: 100%;
}

#p1 h5:last-of-type{
    margin-top: 80px;
    width: auto;
    float: left;
}

#p1 h5::first-letter{
    font-size: 27px;
}

#p1 p{
    padding-left: 8%;
    padding-right: 8%;
    font-size: 21px;
    float: left;
}

#p1 p:last-of-type{
    padding-left: 5px;
    margin-top: 83px;
}

.outros{
    width: 94%;
    background-color: white;
    height: 1750px;
    margin-left: 3%;
    margin-top: 20px;
    box-shadow: 0px 0px 7px black;
    color: black;
}

#cabeca{
    height: 60px;
    width: 100%;
    background-color: rgb(50, 54, 57);
    display: flex;
    position: fixed;
}
#menu{
    font-size: 20px;
    font-weight: 16px;
    color: white;
    margin-top: 18px;
    margin-left: 20px;
    cursor: pointer;
}
#souza{
    margin-top: 16px;
    margin-left: 20px;
    color: white;
}
#linda{
    color: white;
    background-color: black;
    width: 25px;
    height: 23px;
    margin-top: 18px;
    margin-left: 325px;
    padding-left: 8px;
    padding-bottom: 3px;
}
#um{
    color: white;
    width: 30px;
    height: 14px;
    margin-top: 17px;
}
#inter{
    margin-top: 18px;
    margin-left: 15px;
    color: gray;
}
#dois{
    font-size: 20px;
    font-weight: 50px;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
#uvas{
    font-size: 16px;
    height: 23px;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 18px;
    margin-left: 13px;
    padding-left: 5px;
    padding-right: 5px;
}
#boca{
    font-size: 20px;
    font-weight: 100px;
    color: white;
    margin-left: 10px;
    margin-top: 12px;
    cursor: pointer;
}
#gremio{
    margin-top: 17px;
    margin-left: 10px;
    color: gray;
}
#folder{
    font-size: 15px;
    color: white;
    margin-top: 23px;
    margin-left: 15px;
}
#carros{
    font-size: 15px;
    color: white;
    margin-top: 24px;
    margin-left: 17px;
    cursor: pointer;
}
#dow{
    color: white;
    margin-left: 450px;
    font-size: 15;
    margin-top: 19px;
    cursor: pointer;
}
#fafa{
    color: white;
    font-size: 15px;
    margin-top: 21px;
    margin-left: 25px;
    cursor: pointer;
}
#life{
    color: white;
    font-size: 15px;
    margin-top: 21px;
    margin-left: 30px;
    cursor: pointer;
}